.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
    width: 100%;
    gap: 20px;
}

.headerSearchSubmit {
    background: none;
    border: none;
    outline: none;
}

.headerSearch {
    width: 100%;
    max-width: 450px;
    height: 100%;
    position: relative;
}

.headerSearchIcon {
    position: absolute;
    cursor: pointer;
    top: 28%;
    right: 5%;
}

.headerSearchInput {
    border: 0.8px solid #ffffff4e;
    background: var(--grey);
    font-size: 120%;
    outline: none;
    padding: 2% 2.5%;
    width: 100%;
    border-radius: 2.5px;
    letter-spacing: 0;
    line-height: 19px;
}

.headerSearchInput::placeholder {
    color: #ffffff9e;
    letter-spacing: 0;
    line-height: 19px;
}

.headerSearchInput:-ms-input-placeholder {
    color: #ffffff9e;
    letter-spacing: 0;
    line-height: 19px;
}

.headerSearchInput::-ms-input-placeholder {
    color: #ffffff9e;
    letter-spacing: 0;
    line-height: 19px;
}

.headerLogo {
    cursor: pointer;
}

.headerAutoComplete {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    z-index: 999;
}

.headerAutoCompleteItems {
    color: #75889f;
    padding: 2% 2.2%;
    font-size: 1.2em;
    border-bottom: 0.1px solid #00000030;
    cursor: pointer;
}

.menuIcon {
    display: none;
}

.mobileSearchIcon {
    display: none;
}

.mobileMenu {
    display: none;
}

img.mobileBack {
    display: none;
}

@media screen and (max-width: 774px) {
    .headerSearch {
        transform: translateY(-9999px);
    }
    .showHeaderSearchForm {
        transform: translateY(0) !important;
    }
    .menuIcon {
        display: block;
        padding-right: 2em;
        cursor: pointer;
    }
    .mobileSearchIcon {
        display: block;
        padding-right: 1em;
    }
    .mobileMenu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 20%;
        z-index: 10;
        background-color: white;
        padding: 10% 0 0 10%;
        animation-name: sideBar;
        animation-duration: 0.5s;
    }
    .mobileMenuLinksTabs a {
        color: #707070 !important;
        text-decoration: none;
        font-size: 150%;
    }
    .mobileMenuLinksTabs {
        padding: 3% 0;
    }
    .mobileMenuLinksTabs .active {
        color: #000000 !important;
    }
    .hideMobileMenu {
        display: none !important;
    }
    button.headerSearchButton {
        display: none;
    }
    .headerSearchInput {
        background-color: white;
        border-radius: 0;
        height: 3.5em;
        padding-left: 70px;
        color: black;
        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.507);
    }
    .headerSearch {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
        max-width: initial;
        z-index: 10;
    }
    img.mobileBack {
        display: block;
        position: relative;
        z-index: 35;
        top: -46px;
        left: 21px;
        opacity: 0.8;
        cursor: pointer;
    }
    @keyframes sideBar {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}